@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100;400&display=swap");
// VARIABLES
// $variable-name : value
$font-body: "Roboto", sans-serif;
$font-display: "Roboto", serif;
$color-font: #0a053d;
$color-font-secondary: #e37f4e;
$color-primary: #142b56;
$color-primary-light: #7a9cc8;
$color-secondary: #c77d4e;
$color-secondary-light: #e3c2ae;
$color-black: #333333;
$color-white: #fafafa;
$fuschia: #d88f4bc8;
$button-bg: $fuschia;
$button-text-color: rgb(7, 38, 133);
$baby-blue: #8686ea;

$borderWidth: 5px;
